* {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
    "navbar navbar ."
    ". . ."
    ". subtitle ."
    ". content ."
    "footer footer footer";
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 130px 500px minmax(80px, auto) auto minmax(100px, auto);
    min-height: 100vh;
}

.background-image {
    background: url('images/background.png') no-repeat top center;
    background-size: 100% auto;
}

.background-color {
    background-color: #e1e1e1
}

.navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.subtitle {
    grid-area: subtitle;
    padding: 40px;
    font-family: "Tahoma", serif;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.white-background-color {
    background-color: #f7f7f7;
}

.content {
    grid-area: content;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.content * {
    margin: 25px;
}

.footer {
    grid-area: footer;
    background-color: #333333;
    display: grid;
    grid-template-areas:
    ". footer-content .";
    grid-template-columns: 100px auto 100px;
}

.footer-content {
    grid-area: footer-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 100px;
}

.nav-item {
    font-family: "Tahoma", serif;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #e00f00;
}

.red-header {
    font-family: "Tahoma", serif;
    color: #e00f00;
    font-size: 50px;
}

.content-font {
    font-family: "Tahoma", serif;
    color: #333;
    font-size: 30px;
}

.image {
    display: flex;
    width: calc(100% - 50px);
    height: auto;
}

.mlr-150 {
    margin-left: 150px;
    margin-right: 150px;
}

.ul-no-style {
    list-style-type: none;
}

.footer-list-item {
    font-family: "Tahoma", serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.white {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
}

@media (max-width: 768px) {

}